= twitter_bootstrap_form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  
  = f.inputs do
    = f.text_field :to, 'To', class: 'span8', data: {autocomplete: users_path}
    
  = f.inputs do 
    = f.text_field :subject, class: 'span8'
    = f.text_area :body, class: 'span8'
 
  = f.actions do
    = f.submit 'Send'