%h1 Listing threads

%table.zebra-striped
  %tr
    %th Creator
    %th Recipient
    %th Last replier
    %th Subject
    %th Messages
    %th Date
    %th
  
  = render partial: 'threads/thread', collection: @threads

- content_for :sidebar do
  %p= link_to 'Create message', new_message_path
  %p= link_to 'Threads', threads_path
  %p.divider
  %p= link_to 'Inbox', '#'
  %p= link_to 'Sent messages', '#'
  %p= link_to 'Darfts', '#' 