- unless flash[:notice].blank?
  .alert-message.info
    = link_to '×', '#', class: 'close'
    %p= flash[:notice]
- unless flash[:error].blank?
  .alert-message.error
    = link_to '×', '#', class: 'close'
    %p= flash[:error]
- unless flash[:alert].blank?
  .alert-message.warning
    = link_to '×', '#', class: 'close'
    %p= flash[:alert]
    