= link_to 'Project name', '#', class: 'brand'
%ul.nav
  %li.active= link_to 'Home', '#'  
  %li.active= link_to 'About', '#about'
  %li.active= link_to 'Contact', '#contact'

= form_tag '', class: 'pull-right' do
  = text_field_tag :user, nil, placeholder: 'Username', class: 'input-small'
  = password_field_tag :password, nil, placeholder: 'Password', class: 'input-small'
  = button_tag 'Sign in', class: 'btn'
