!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Twitter Bootstrap"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    .topbar
      .fill
        .container
          = render :partial => 'common/menu'
    .container
      .content
        .page-header
          = render :partial => 'common/header'
        .row
          .span12
            = render :partial => 'common/flashes'
            = yield
          
          .span4
            .sidebar
              %h3 Actions
              .well= yield :sidebar
            
        %footer
        = render :partial => 'common/footer'
